body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
}
/* centrar main*/

main{
    max-width: 80%;
    margin: ;
}

/*header y main*/
header{
    
    background: radial-gradient(circle, #74b3fcef, rgb(95, 4, 50))
}
header {
     text-align: center;
     line-height: 1;
}
.circular--square {
    border-radius: 70%;
  }

h1,h2{
    background: radial-gradient(circle, #74b3fcef, rgb(95, 4, 50,))
    text-transform: uppercase;
    ;
}
h1{
    color: #ffffff;
}
h2{
    background: radial-gradient(circle, #74b3fcef, rgb(95, 4, 50));
    color: #ffffff;
    font-size: 22px;
}
.item-detail{
font-style: italic;
font-weight: bold;
font-size: 18px;
}

footer img { width: 24px;}
footer{

    font-size: 20px;
    text-align: center;
    
    background: radial-gradient(circle, #74b3fcef, rgb(95, 4, 50))
}