header{
    background-color: #00669F; 
    width: 100%;
   padding-top: 5px;
   padding-bottom: 5px;
}


.descuento{
    background-color:#1CD1B0 ;
    width: 1920px;
    height: 30px;
    left: 0px;
    top: 0px;
}

header{
    background-color: #00669F; 
    width: 100%;
   padding-top: 5px;
   padding-bottom: 5px;
}